.ItemDetailContainer{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.ItemImg{
    height: 275px;



}

.CardItem{

    display: grid;
    background-color:rgb(248, 233, 168);
    width: 700px;
    justify-content: center;
    margin-top: 30px;

}

.Info{
    display: flex;
    justify-content: center;
}

.ItemFooter{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Header{
    justify-content: center;
    display: flex;
}

picture{
    justify-content: center;
    display: flex;
}