
nav {
    background-image: url(../img/fondonegro.jpg);
}

.navbar{

justify-content: center;
  display: flex;
}


.Categories{
    display:flex ;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
color:white;
align-items: center;
display: flex;
padding: 5px;
justify-content: center;

}