
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.carrito {
display: flex;
justify-content: center;
margin-left: 5px;
padding: 20px;

}

.imgc{
  height: 45px;
  margin-right: 10px;
}

.carritonumero{
display: contents;
font-size: 30px;
}


.btn{
  padding: 10px 30px;
  display:inline;
  margin-left: 10px;
  justify-content: center;
  align-items: center;

}

.Name{
  justify-content: center;
}

.bienvenidos{
  background-color: black;
  display: grid;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
  background-image: url(.//Components/img/fondomain1.jpg);
  
}


#root{
  background-image: url(.//Components/img/fondomain1.jpg);
  width: 100%;
  height: 100vh;
}

.tit{
  display: flex;
  justify-content: center;
}